{% extends 'layout.html' %}

{% block body %}
<br>
<br>
<br>



      <!-- Marketing messaging and featurettes
      ================================================== -->
      <!-- Wrap the rest of the page in another container to center all the content. -->

      <!-- Page Content -->


<div class="container">
      <!-- Page Heading -->
      <h1 class="my-4">Project Introduction</h>

        <div class="col-md-12">
          <h6><p>
            This is SUTD Chinese Lyrical Tradition class project. In this project, we did word analysis for 787 poets from the Tang and Song Dynasties as well as Book of Odes. The result are saved as word cloud and put in the database in the website. We also made some Chinese Style pictures and displayed them on the website.</p></h6>
          <h6><p>Poem Data is from: https://github.com/chinese-poetry/chinese-poetry</p></h6>
        </div>
      </div>
    <div class="container">

      <!-- Page Heading -->
      <h1 class="my-4">Image References
      </h1>

      <!-- Project One -->
      <div class="row">
        <div class="col-md-7">
          <a href="#">
            <img class="img-fluid rounded mb-3 mb-md-0" src={{ url_for('static', filename='images/background.jpg')}}  alt="">
          </a>
        </div>
        <div class="col-md-5">
          <h3>Homepage background picture</h3>
          <p>http://www.yczihua.com/article-24972.html</p>
        </div>
      </div>
      <!-- /.row -->

      <hr>

      <!-- Project Two -->
      <div class="row">
        <div class="col-md-7">
          <a href="#">
            <img class="img-fluid rounded mb-3 mb-md-0" src={{ url_for('static', filename='images/paint1.jpg')}} alt="">
          </a>
        </div>
        <div class="col-md-5">
          <h3>Homepage icon picture</h3>
          <p>http://www.zhongshideng.com/jindai/201403/10659.html</p>
        </div>
      </div>
      <!-- /.row -->

      <hr>

      <!-- Project Three -->
      <div class="row">
        <div class="col-md-7">
          <a href="#">
            <img class="img-fluid rounded mb-3 mb-md-0" src={{ url_for('static', filename='images/taoyuanming.jpg')}} alt="">
          </a>
        </div>
        <div class="col-md-5">
          <h3>Homepage icon picture</h3>
          <p>http://img.weixinyidu.com/150520/887726b2.jpg_slt2</p>
        </div>
      </div>
      <!-- /.row -->

      <hr>

      <div class="row">
        <div class="col-md-7">
          <a href="#">
            <img class="img-fluid rounded mb-3 mb-md-0" src={{ url_for('static', filename='images/paint.jpg')}} alt="">
          </a>
        </div>
        <div class="col-md-5">
          <h3>Homepage icon picture</h3>
          <p>http://www.yczihua.com/article-24972.html</p>
        </div>
      </div>

      <hr>

      <!-- Project Four -->
      <div class="row">
        <div class="col-md-7">
          <a href="#">
            <img class="img-fluid rounded mb-3 mb-md-0" src={{ url_for('static', filename='paintings/SUTD/fuchun.jpg')}} alt="">
          </a>
        </div>
        <div class="col-md-5">
          <h3>Dwelling in the Fuchun Mountains(Chinese: 富春山居图) by Huang Gongwang</h3>
          <p>http://pinturadeoriente.blogspot.com/2016/06/huang-gongwang-habitando-en-las.html</p>
        </div>
      </div>

      <hr>

      <div class="row">

        <div class="col-md-7">
          <a href="#">
            <img class="img-fluid rounded mb-3 mb-md-0" src={{ url_for('static', filename='paintings/marinaBay/QiBaishi/Qibaishi.jpg')}} alt="">
          </a>
        </div>
        <div class="col-md-5">
          <h3>Spring in Garden (Chinese: 满园春色) by Qi Baishi</h3>
          <p>https://i1.kknews.cc/SIG=3oftldv/28nr000qp8o4n0np0902.jpg</p>
        </div>
      </div>

      <hr>

      <div class="row">
        <div class="col-md-7">
          <a href="#">
            <img class="img-fluid rounded mb-3 mb-md-0" src={{ url_for('static', filename='paintings/marinaBay/WuGuanzhong/WuGuanzhong-3.jpg')}} alt="">
          </a>
        </div>
        <div class="col-md-5">
          <h3>Wu Guanzhong's Oil Painting</h3>
          <p>http://www.sohu.com/a/212935524_210135</p>
        </div>
      </div>

      <hr>

       <div class="row">

        <div class="col-md-7">
          <a href="#">
            <img class="img-fluid rounded mb-3 mb-md-0" src={{ url_for('static', filename='paintings/marinaBay/XuBeihong-BaJunTu/XuBeihong-BaJun.jpg')}} alt="">
          </a>
        </div>
        <div class="col-md-5">
          <h3>The Eight Horses(Chinese: “八骏图”) by Xu Beihong</h3>
          <p>https://i2.vvttw.com/2018/0930/02/nt1w0nlqb3w.jpg</p>
        </div>
      </div>

      <hr>

      <div class="row">

        <div class="col-md-7">
          <a href="#">
            <img class="img-fluid rounded mb-3 mb-md-0" src={{ url_for('static', filename='paintings/SUTD/WuGuanzhong-2.jpg')}} alt="">
          </a>
        </div>
        <div class="col-md-5">
          <h3>Water Town (Chinese:水乡) by Wu Guanzhong</h3>
          <p>http://www.sohu.com/a/207873994_753484</p>
        </div>
      </div>

      <hr>

      <div class="row">

        <div class="col-md-7">
          <a href="#">
            <img class="img-fluid rounded mb-3 mb-md-0" src={{ url_for('static', filename='paintings/marinaBay/Fuchun/fuchun-1.jpg')}} alt="">
          </a>
        </div>
        <div class="col-md-5">
          <h3>Dwelling in the Fuchun Mountains(Chinese: 富春山居图) by Huang Gongwang</h3>
          <p>http://kmhimafx.com/Article/%EF%BB%BF5Li06buE5YWs5pyb5a%2BM5pil5bGx5bGF5Zu%2B.html</p>
        
        </div>
      </div>
      <!-- /.row -->
{% endblock %}
